---
permalink: /districts.json
---

[
{% set postslist = collections.post %}
  {% for post in postslist | reverse %}
    {
      "title": "{{ post.data.title }}",
      "id": "{{ post.data.id }}",
      "summary": "{{ post.data.summary }}",
      "permalink": "{{ post.url | url }}",
      "overlay": {
        "width": "{{ post.data.overlay.width }}"
      }
      {# "content": "{{ post.templateContent | safe }}" #}
    }
  {% if loop.last == false %},{% endif %} 
  {% endfor %}
]
