
/*******************/
/*      HEADER     */
/*******************/

header .masthead {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: var(--site-margin);
    margin-right: var(--site-margin);
    /*display: flex;*/
    /*align-content: baseline;*/
    /*justify-content: end;*/
}

header .masthead .header-right {
    margin-left: auto;
}



/*******************/
/*       MAP       */
/*******************/

#map { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    z-index: 0;
}

.leaflet-tile-pane {
    z-index: 200;
    /*mix-blend-mode: lighten;*/
    opacity: 70%;
}

.leaflet-overlay-pane {
    z-index: 400;
    mix-blend-mode: darken;
}

div.leaflet-overlay-pane path:hover {
    /*stroke: blue !important;*/
    /*opacity: .6;*/
}

.is-transitioning {
    pointer-events: none;
    /*cursor: progress;*/
}

.hide-popup {
    display: none;
}

.leaflet-interactive.selected {
    stroke: var(--bs-primary);
    stroke-width: 1.5;
    fill: var(--bs-accent) !important;
    fill-opacity:  .2;
    filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 0.2));
}


.leaflet-interactive {
    stroke: var(--bs-gray-600);
    stroke-width: 1.5;
    fill: var(--bs-primary) !important;
    fill-opacity:  0;
    stroke-opacity: .3;
}


.leaflet-interactive:hover {
    stroke: var(--bs-primary);
    stroke-opacity: .5;
    stroke-width: 1.5;
    fill: #93D6E5 !important;
    fill-opacity:  .2;
}


.leaflet-basemap-pane{
    mix-blend-mode: darken;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    /*bottom: 0%;  possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control, .leaflet-top .leaflet-control {
    margin-top: var(--site-margin);
    margin-left: var(--site-margin);
    z-index: 4000;
}