
/*******************/
/*      HEADER     */
/*******************/

header .masthead {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: var(--site-margin);
    margin-right: var(--site-margin);
    /*display: flex;*/
    /*align-content: baseline;*/
    /*justify-content: end;*/
}

header .masthead .header-right {
    margin-left: auto;
}

/*******************/
/*    MAP NAV      */
/*******************/

.map-handler-nav .nav-link {
    display: inline-block;
    padding: 0;
    opacity: .4;
    pointer-events: auto;
    line-height: 1.1;
}
/*.map-handler-nav .nav-link:not(.active):hover  {
}*/

.map-handler-nav .nav-link.active:hover, .map-handler-nav .nav-link.active:focus  {
    color: var(--bs-nav-link-color);
}

.map-handler-nav .nav-link.active {
    opacity: 1;
    box-shadow: 0px 5px;
}

.nav-link.active .selection-icon {
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    /*background-color: var(--bs-secondary);*/
    margin-left: calc( var(--site-margin) * -1 - 40px);
}
.nav-link:not(.active) .selection-icon {
    position: absolute;
    margin-left: calc( var(--site-margin) * -1 - 80px);
}

/*******************/
/*       MAP       */
/*******************/

#map { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    z-index: 0;
}

.leaflet-tile-pane {
    z-index: 200;
    /*mix-blend-mode: lighten;*/
    opacity: 70%;
}

.leaflet-overlay-pane {
    z-index: 400;
    mix-blend-mode: darken;
}

div.leaflet-overlay-pane path:hover {
    /*stroke: blue !important;*/
    /*opacity: .6;*/
}

.is-transitioning {
    pointer-events: none;
    /*cursor: progress;*/
}

.hide-popup {
    display: none;
}

.district-boundaries.active.selected {
    stroke: var(--bs-primary);
    stroke-width: 1.5;
    fill: var(--bs-accent) !important;
    fill-opacity:  .2;
    filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 0.2));
}


.district-boundaries.active {
    stroke: var(--bs-gray-600);
    stroke-width: 1.5;
    fill: var(--bs-primary) !important;
    fill-opacity:  0;
    stroke-opacity: .3;
}
.district-boundaries.disabled {
    stroke: var(--bs-gray-600);
    stroke-width: 1.5;
    fill: var(--bs-primary) !important;
    fill-opacity:  0;
    stroke-opacity: .15;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


.district-boundaries.active:hover {
    stroke: var(--bs-primary);
    stroke-opacity: .5;
    stroke-width: 1.5;
    fill: #93D6E5 !important;
    fill-opacity:  .2;
}
.stories.active.selected {
    stroke: var(--bs-secondary);
    stroke-width: 2;
    fill: var(--bs-secondary) !important;
    fill-opacity:  .7;
    stroke-opacity: 1;
/*    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);*/
}
.stories.active:hover {
    stroke: var(--bs-secondary);
    stroke-width: 2;
    fill: var(--bs-secondary) !important;
    fill-opacity:  .7;
    stroke-opacity: .7;
/*    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);*/
}
.stories.active {
    stroke: var(--bs-secondary);
    stroke-width: 1;
    fill: var(--bs-secondary) !important;
    fill-opacity:  .7;
    stroke-opacity: .7;
}
.stories.disabled {
    pointer-events: none !important;
    stroke: var(--bs-secondary);
    stroke-width: 0;
    fill: var(--bs-secondary) !important;
    fill-opacity:  .7;
    stroke-opacity: 0;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.leaflet-basemap-pane{
    mix-blend-mode: darken;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    /*bottom: 0%;  possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control, .leaflet-top .leaflet-control {
    margin-top: var(--site-margin);
    margin-left: var(--site-margin);
    z-index: 4000;
}