<footer>
  <small>
    This project is maintained by <a href="https://www.macdnet.org">The Montana Association of Conservation Districts</a>.
    For administrative access visit the <a href="/admin">admin portal</a>.
  </small>
</footer>
