<footer>
  <small>
    This project is maintained by <a href="https://www.macdnet.org">The Montana Association of Conservation Districts</a>.
    For administrative access visit the <a href="/admin">admin portal</a>.
  </small>

    <!-- load barba (UMD version) -->
    <script src="https://unpkg.com/@barba/core"></script>

    <!-- load gsap animation library (minified version) -->
    <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>

    {% set js %}
      {% include "assets/js/inline-footer.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

</footer>
