<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>


  <!-- Mapbox GL --> 
  <!-- Enables Vector Tile Plugin for Leaflet: Could become depricated. Remove vector layer and replace with static tiles --> 
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="https://unpkg.com/mapbox-gl-leaflet/leaflet-mapbox-gl.js" crossorigin=""></script>


  {# {% set scss %}
    {% include "styles/main.scss" %}
  {% endset %}
  <style>{{ scss | safe }}</style> #}

  {% set js %}  
    {% include "assets/js/leaflet.activearea.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set css %}
    {% include "assets/css/components.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}  
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>


  <!--------------------------------------> 
  <!--            BOOTSTRAP             --> 
  <!--------------------------------------> 

  <!-- ADD COMPILED CSS IN _SITE FOLDER --> 
  <link rel="stylesheet" href="/assets/main.css"> 
  <script type="module" href="/assets/main.js"></script>


</head>
