
<header>
  
  <div class="masthead">
    
      {# {{ "/static/site-branding/MACD-Logotype.svg" | svgContents('site-logotype') | safe }} #}

      {# <h1 class="site-title display-5 text-primary"><a href="{{ '/' | url }}" >{{ settings.siteTitle }}</a></h1> #}

  </div>


  {% include "components/nav.njk" %}

</header>