<nav class="main-navigation ">
      <ul class="flex-column nav display-1 map-handler-nav">
        <li class="nav-item ">
          <a class="nav-stories nav-link" aria-current="stories" onclick="toggleLayer('storiesLayerHandler', this)" href="#">STORIES</a>
        </li>
        <li class="nav-item ">
          <a class="nav-districts nav-link active" aria-current="districts" onclick="toggleLayer('districtsLayerHandler', this)" href="#">DISTRICTS</a>
        </li>
      </ul>
</nav>