<div id="map"></div>

   
<script>

// LOAD POST DATA FROM /districts.json
   let postData = [];
   document.addEventListener('DOMContentLoaded', function (event) {
      fetch('/districts.json')
      .then((response) => response.json())
      .then((data_server) => { 
         
         postData = data_server;

         // LOAD DISTRICT GEOJSON VIA AJAX
         var districtBoundaries = new L.GeoJSON.AJAX("/_includes/assets/js/district-boundaries_simplified.geojson",{
               style: myStyle,
               onEachFeature: function (feature, layer) {

                  match = postData.find((element) => element.id === feature.properties.slug); //get matching post from POST JSON

                  Object.assign(feature.properties, match); //add properties of matching post to matching feature

                  // console.log(feature);
                  // console.log(postData);

                  layer.bindPopup('<h3>' + feature.properties.title + '</h3>' + '<p>' + feature.properties.summary + '</p>' + '<a href="' + feature.properties.permalink + '"> View District </a>');
               
               }
            });

         // ADD DISTRICT BOUNDARIES TO MAP
         districtBoundaries.on('data:loaded', function() {
            map.addLayer(this);
            //console.log(this);

            console.log(districtBoundaries._layers);

         });
      });
   });

   

   // Define a style
   var myStyle = {
        "strokeColor": "#ffffff",
        "weight": .5,
        "opacity": 1,
        "smoothFactor" : 0 
    };

   

   // CREATE MAP
   var map = L.map('map', {
      zoomDelta: 0.5,
      zoomSnap: 0.5
   }).setView([46.85, -109.45], 6);

   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
   }).addTo(map);

</script>