<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body data-barba="wrapper">

		<header>
			<h1 class="site-title display-6 text-primary"><a href="{{ '/' | url }}" >{{ settings.siteTitle }}</a></h1>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{% include "components/map.njk" %}

			<section id="main" data-barba="container" data-barba-namespace="overlay">
				{{ layoutContent | safe }}
			</section>

		</main>

		{% include "components/footer.njk" %}

	</body>

</html>


