<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body data-barba="wrapper">

		<header>
			<em>
				<a href="{{ '/' | url }}" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on top" onmouseover="copy(this, 'Copy Number')" >{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{% include "components/map.njk" %}

			<section id="main" class="overlay overflow-hidden" data-barba="container" data-barba-namespace="overlay">
				{{ layoutContent | safe }}
			</section>

		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
