<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{% include "components/map.njk" %}

			<section id="main" class="overlay">
				{{ layoutContent | safe }}
			</section>

				<script type="text/javascript">				
				// Calculate the offset
				var offset = document.querySelector('.overlay').offsetWidth*0.4;
				// Then move the map
				map.panBy(new L.Point(offset, 0), {animate: false});		
				</script>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
