---
layout: layouts/base.njk
section: post
---

<section class="post overlay-inner">

  <article>

    <div>
      <a class="close-button" script="close();"> X </a>
    </div>
    

    {# PRIMARY CONTACT INFORMATION #}
    <div>
        {# {% if (contact.logo) %} #}
        <div class="logo-container">
          <img class="logo" src="{{ logo }}">
        </div>
        {# {% endif %} #}
       <h1>{{ title }}</h1>
    </div>


    {# PRIMARY CONTACT INFORMATION #}
    {% if (contact | length) %}
    <div>
      <div>
        <h3> CONTACT INFORMATION </h3>
        <ul>
          {% if contact.website %}
          <li> 
            <p>Website</p>
            <a target="_blank" href= "{{ contact.website }}">{{ contact.website }}</a>
          </li>
          {% endif %}
          {% if contact.primaryEmail %}
          <li>
            <p>Email</p>
            <a href= "{{ contact.primaryEmail }}">{{ contact.primaryEmail }}</a>
          </li>
          {% endif %}
          {% if contact.primaryPhone %}
          <li>
            <p>Phone</p>
            <a href= "{{ contact.primaryPhone }}">{{ contact.primaryPhone }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    {# SOCIAL MEDIA #}
    <pre>{{ contact.social | dump('\t') }}</pre>

    {% if (contact.social | length) %}
    <div>
        {% for item in contact.social %}
            <li>
                <a target="_blank" href=" '{{ item.socialItemUrl }}' ">
                    {{ item.socialItem }}
                </a>
            </li>
        {% endfor %}
    </div>
    {% endif %}

    <p>
      <small>
        <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
      </small>
    </p>

    {{ layoutContent | safe }}

    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>

</section>

