---
layout: layouts/base.njk
section: post
---


<section class="post overlay-inner">

  <article>
    

    {# PRIMARY CONTACT INFORMATION #}
    <div>
        {% if (contact.logo) %}
       <div class="logo-container">
          <img class="logo" src={{ logo }}>
       </div>
       {% endif %}
       <h1>{{ title }}</h1>
    </div>


    {# PRIMARY CONTACT INFORMATION #}
    {% if (contact.website) or (contact.primaryEmail)  or (contact.primaryPhone) %}
    <div>
      <div>
        <ul>
          {% if contact.website %}
          <li> 
            <p>Website</p>
            <a href= "{{ contact.website }}">{{ contact.website }}</a>
          </li>
          {% endif %}
          {% if contact.primaryEmail %}
          <li>
            <p>Email</p>
            <a href= "{{ contact.primaryEmail }}">{{ contact.primaryEmail }}</a>
          </li>
          {% endif %}
          {% if contact.primaryPhone %}
          <li>
            <p>Phone</p>
            <a href= "{{ contact.primaryPhone }}">{{ contact.primaryPhone }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    <p>
      <small>
        <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
      </small>
    </p>

    {{ layoutContent | safe }}

    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>

</section>

