---
layout: layouts/base.njk
section: post
---

<section class="overlay post">
    
    <div class="overlay-inner">

      {% include "components/top-bar.njk" %}

      {# HEADER #}
      <div class="post-header">

          <div class="row gx-4 align-items-center">
              {% if (logo) %}
              <div class="col-4">
                <div class="logo-container">
                  <img class="logo" src="{{ logo }}">
                </div>
              </div>
              {% endif %}
              <div class="{{ 'col-8' if logo else 'col-12'}}">
                <h3 class="display-3">{{ titleShort }}</h3>
                <h4 class="heading-6">Conservation District</h4>
              </div>
          </div>

          {# <ul id="navbar" style="" class="sticky-top justify-content-end navbar navbar-light bg-light px-3">
            <li class="nav-item">
              <a class="nav-link barba-prevent active" aria-current="page" href="#{{ id }}-summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link barba-prevent" href="#{{ id }}-contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link barba-prevent" href="#{{ id }}-social">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link barba-prevent" href="#{{ id }}-stories">Stories</a>
            </li>
          </ul> #}
      </div>

      {# BODY #}

      <div class="post-content dynamic-height">

        <div class="container p-0">

            {% if (summary) %}
            <div id="{{ id }}-summary" class="ps-3 pe-3">
              <p class="lead"> {{ summary | markdown | safe }} </p>
            </div>  
            {% endif %}


            <div class="row bg-light rounded-2 m-3 pt-4 pb-4 ps-3 pe-3 g-4">

              <div class="col">
                {# PRIMARY CONTACT INFORMATION #}
                {% if (contact | length) %}
                <div id="{{ id }}-contact">
                  <div class="container p-0">
                    <h6 class="text-nowrap pb-1 mb-3 border-bottom border-2"> Contact Information </h6>
                    <dl class="row g-0">
                      {% if contact.website %}
                        <div class="d-flex">
                          <dt class="meta contact-icon"><a href="{{ contact.website }}"><i class="me-2 bi bi-globe" ></i></a></dt>
                          <dd class="meta"><a class="barba-prevent bs-link-color" target="_blank" href= "{{ contact.website }}">{{ contact.website }}</a></dd>
                        </div>
                      {% endif %}
                      {% if contact.primaryEmail %}
                        <div class="d-flex">
                          <dt class="meta contact-icon"><a class="barba-prevent" href="#"><i class="me-2 bi bi-envelope"></i></a></dt>
                          <dd class="meta" ><a class="barba-prevent" href= "#" data-bs-toggle="tooltip" data-bs-placement="right" onmouseover="copy(this, 'Copied!')" >{{ contact.primaryEmail }}</a></dd>
                        </div>
                      {% endif %}
                      {% if contact.primaryPhone %}
                        <div class="d-flex">
                          <dt class="meta contact-icon"><a class="barba-prevent" href="#"><i class="me-2 bi bi-telephone "></i></a></dt>
                          <dd class="meta" ><a class="barba-prevent" href= "#" data-bs-toggle="tooltip" data-bs-placement="right" onmouseover="copy(this, 'Copied!')" >{{ contact.primaryPhone }}</a></dd>
                        </div>
                      {% endif %}
                    </dl>
                  </div>
                </div>
                {% endif %}


                {# SOCIAL MEDIA #}
                {# <pre>{{ contact.social | dump('\t') }}</pre> #}
                {% if (contact.social | length) %}
                  <div id="{{ id }}-social">
                      <div class="container p-0">
                        <h6 class="text-nowrap pb-1 mb-3 border-bottom border-2"> Social Media </h6>
                        {% set socialArray = {facebook:"bi-facebook", instagram: "bi-instagram", newsletter: "bi-newspaper", twitter: "bi-twitter", other: "bi-link-45deg"} %}
                        <dl class="row g-0">
                          {% for item in contact.social %}
                            <div class="d-flex">
                              <dt class="meta contact-icon"><a href="{{ item.socialItemUrl }}"><i class="{{ socialArray[item.socialItem] }} me-2 bi"></i></a></dt>
                              <dd class="meta"><a class="barba-prevent" target="_blank" href= "{{ item.socialItemUrl }}">{{ item.socialItem }}</a></dd>
                            </div>
                          {% endfor %}
                        </dl>
                      </div>
                  </div>
                {% endif %}
              </div>
              


              {# ADDRESS #}
              {% if (contact | length) %}
              <div id="{{ id }}-contact" class="col">
                <div class="container p-0">
                  <h6 class="text-nowrap pb-1 mb-3 border-bottom border-2"> Locations </h6>
                  <dl class="row g-0">
                    {% for item in locations %}
                      <div class="col mb-2 d-flex">
                        <dt class="meta contact-icon"><a><i class="bi-geo-alt-fill me-2 bi"></i></a></dt>
                        <dd class="meta">
                          {% if item.addressLabel %}
                            <p class="meta"> 
                              <b>{{ item.addressLabel }}</b>
                            </p>
                          {% endif %}
                          <p class="meta"> 
                            {% if item.addressLine1 %}
                              {{ item.addressLine1 }}<br>
                            {% endif %}
                            {% if item.addressLine2 %}
                              {{ item.addressLine2 }}<br>
                            {% endif %}
                            {% if item.city %}{{ item.city }}, {% endif %}
                            {% if item.state %}{{ item.state }} {% endif %}
                            {% if item.post-code %}{{ item.post-code }}{% endif %}
                            <br>
                          </p>
                          {% if item.hours %}
                            <p class="meta">
                              <i>{{ item.hours | safe }}<i>
                            </p>
                          {% endif %}
                        </dd>
                      </div>
                    {% endfor %}
                  </dl>
                </div>
              </div>
              {% endif %}
            </div>
            

            {# BODY CONTENT #}
            <div class="container p-3">
              {{ layoutContent | safe }}
            </div>

            <div class="post-footer container p-3">
              {% if tags %}
                <p>
                {% for tag in tags %}
                  {%- if tag != "post" -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                  {%- endif -%}
                {% endfor %}
                </p>
              {% endif %}
              <p>
                <small>
                  <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
                </small>
              </p>
            </div>

        </div>
      </div>


    </div>   
</section>
